<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.needayeah.elastic.mapper.OrderMapper">
    <sql id="orderCommon">
        id as id,
        receiver_name as receiverName,
        receiver_province as receiverProvince,
        receiver_city as receiverCity,
        receiver_district as receiverDistrict,
        receiver_province_code as  receiverProvinceCode,
        receiver_city_code as receiverCityCode,
        receiver_district_code as receiverDistrictCode,
        receiver_address as receiverAddress,
        receiver_mobile as receiverMobile,
        receiver_telno as receiverTelno
    </sql>

    <select id="searchOrder" resultType="com.needayeah.elastic.entity.Order">
        select <include refid="orderCommon"/> from tb_order limit #{from},#{size}
    </select>
</mapper>
